@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';


@include bem-block('tabbar') {
    display: flex;
    height: 50px;
    background: #fff;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}


@include bem-block('tabbar-item') {
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;



    @include bem-element('icon') {
        margin-bottom: 3px;

        @include element('badge__text') {
            top: 4px;
        }

        @include element('icon') {
            font-size: $font-size-heading;
        }
    }

    @include bem-element('text') {
        font-size: $font-size-caption-sm;
    }
}