@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';


@include bem-block('noticebar') {
    height: 36px;
    display: flex;
    background: #fefcec;
    color: #ed6a0c;
    line-height: 36px;
    overflow: hidden;

    @include bem-element('icon') {
        padding-left: 16px;
        display: flex;
        align-items: center;
    }

    @include bem-element('wrap') {
        overflow: hidden;
        position: relative;
        white-space: nowrap;
        flex: 1;
        margin: 0 5px;

    }

    @include bem-element('content') {
        display: inline-block;
        position: relative;


        @include bem-modifier('play') {
            animation: marquee linear both;
        }

        @include bem-modifier('loop') {
            animation: marquee linear infinite both;
        }

    }

    @include bem-element('operation') {
        display: flex;
        align-items: center;
        padding-right: 16px;
    }
}

@keyframes marquee {
    to {
        transform: translate3d(-100%, 0, 0);
    }
}