.app-icon {

    .icon-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .icon-item {
        width: 33.3333333%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .icon {
        margin: 20PX 0 10PX;
        display: block;
        font-size: 32PX;
    }

    .icon-text{
        font-size: 12PX;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
    }

}