.app-home{
    padding: 15PX;

    .k-collapse-panel {
        margin-bottom: 15px;
        border-top: 0;

        .k-collapse-panel__header {
            border-bottom: none;
            height: 56px;
            font-size: 16px;



            .k-cell-middle__value {
                font-size: 24px;
                // color: black;
            }
        }

        .k-collapse-panel__body {

            .k-cell {
                padding: 0;
            }

            .k-collapse-panel__inner {
                padding-top: 0;
                padding-bottom: 0;
                border-top: none;
            }

            .k-cell--border {
                &::after {
                    left: 0;
                }
            }
        }
    }
}