@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

@include bem-block('card') {
    border: $border-width-base $border-style-base $border-color-base;
    border-radius: $radius-base;
    background: $white-color;
    padding-bottom: 8px;
    font-size: $font-size-base;

    @include bem-modifier('full') {
        border-left: none;
        border-right: none;
        border-radius: 0;
    }
}

@include bem-block('card-header') {
    padding: 8px 16px;
    border-bottom: $border-width-base $border-style-base $border-color-base;
    display: flex;
    justify-items: center;
    font-size: $font-size-heading;

    @include bem-element('title') {
        flex: 1;
        text-align: left;
        color: $title-color;
    }

    @include bem-element('extra') {
        color: $subsidiary-color;
    }
}

@include bem-block('card-body') {
    padding:16px;

}

@include bem-block('card-footer') {
    display: flex;
    justify-items: center;
    color: $subsidiary-color;
    padding: 0 16px;

    @include bem-element('content') {
        flex: 1;
    }

    @include bem-element('extra') {}
}