@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.k-icon {
    display: inline-block;
    text-align: center;
    margin: 0 4px;
    font-size: inherit;

    @each $color,
    $value in $colors {
        @include bem-modifier($color) {
            @include text-color($value);
        }
    }

    @include bem-modifier('spin') {
        animation: loadingCircle 1s infinite linear;
    }
}