@mixin text-color($color) {
    color: $color;
    .#{$namespace}-icon {
        color: $color;
    }
}

@mixin text-truncate() {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}