@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

@include bem-block('loading') {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    color: $text-color;
    box-sizing: border-box;
    margin: 0 auto;


    @each $color,
    $value in $colors {
        @include bem-modifier($color) {
            color: $value;
        }
    }

    @each $size,
    $value in $loading-size-map {
        @include bem-modifier($size) {
            @include element('loading__icon') {
                font-size: map-get($value, 'fontSize')
            }

        }
    }

    @include bem-modifier('vertical') {
        display: inline-flex;
        flex-direction: column;
        align-items: center;

        @include element('loading__tip') {
            margin-top: 10px;
            margin-left: 0;
        }
    }

    @include bem-element('circle') {
        position: relative;
        display: inline-block;
        // max-width: 100%;
        // max-height: 100%;
        vertical-align: middle;
        
    }

    @include bem-element('tip') {
        margin-left: 10px;
        vertical-align: middle;
        display: inline-block;
    }

    @include bem-element('icon') {
        // position: absolute;
        // left: 50%;
        // top: 50%;
        // font-size: 32px;
        // transform: translate(-50%, -50%);
        animation: loadingCircle 1s infinite linear;
    }
}