@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

@include bem-block('loading') {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    color: $text-color;
    box-sizing: border-box;
    margin: 0 auto;

    @each $color,
    $value in $colors {
        @include bem-modifier($color) {
            color: $value;
        }
    }

    @each $size,
    $value in $loading-size-map {
        @include bem-modifier($size) {
            @include element('loading__circle') {
                width: map-get($value, 'width');
                height: map-get($value, 'height');
            }
        }
    }

    @include bem-element('icon') {
        animation: loadingCircle 1s infinite linear;
        font-size: 32px;
    }
}