@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

@include bem-block('load-more') {
    text-align: center;
    width: 65%;
    margin: 20px auto;
    ;
    position: relative;

    @include bem-element('icon') {
        margin-right: 5px;
        line-height: 32px;
    }

    @include bem-element('tip') {
        overflow: hidden;
        display: inline-block;
        position: relative;
        padding: 0 4px;
        background: #fafafa;
        z-index: 10;
        vertical-align: middle;
    }

    @include bem-modifier('line') {
        &:after {
            content: ' ';
            height: 1px;
            border: none;
            // border-top: $border-width-base $border-style-base $border-color-base;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            z-index: 8;
            background: $border-color-base;
        }
    }

    @include bem-modifier('dot') {}


    @include bem-element('dot') {
        @include element-size(4px);
        border-radius: 50%;
        background: $border-color-base;
        // top: 50%;
        // left: 50%;
        position: relative;
        display: inline-block;
        // transform: translate(-50%, -50%);
        top: -4px;
    }

    @include bem-modifier('full') {
        width: 100%;
    }
}