@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';


@include bem-block('avatar') {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #bdbdbd;
    color: #fafafa;
    user-select: none;
    overflow: hidden;
    vertical-align: middle;
    margin:0 2px;

    img {
        @include element-size(100%);
    }

    @include bem-modifier('square') {
        border-radius: $radius-base;
    }

    @each $color,
    $value in $colors {
        @include bem-modifier($color) {
            background: $value;
        }
    }

    @each $size,
    $value in $avatar-size-map {

        @include bem-modifier($size) {
            @include element-size($value);
            font-size: ceil($value/1.8);
        }

    }
}